@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Poppins&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root{
  --main-color: #D36500;
  --secondary-color: #343434;
  --hover-color: #171717;
  --text-color: #fff;
}